.video-js {
  width: 40em !important;
  height: 22.5em !important;
}
.positioned {
  position: relative;
}
#caption-0 {
  top: 0em;
  width: 40em;
}
#caption-0.active-cue {
  color: #dfea1d;
}
#transcription {
  position: absolute;
  margin-left: 40em;
}
